<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="wrapper">
      <a class="homelink" href="#pablo">
        <img src="assets/img/JOLBoutique-logo.png" style="width: 200px" />
      </a>
      <button class="navbar-toggle" type="button" (click)="setNavbarOpen()">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="lg:flex flex-grow items-center" [ngClass]="{ hidden: !navbarOpen, block: navbarOpen }"
      id="example-navbar-warning">
      <ul class="leftUrl">
        <li class="flex items-center">
          <button mat-button [matMenuTriggerFor]="menu1" class="customLink">
            所有商品
          </button>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item class="menuItem">上身</button>
            <hr>
            <button mat-menu-item class="menuItem">下身</button>
            <hr>
            <button mat-menu-item class="menuItem">連身</button>
            <hr>
            <button mat-menu-item class="menuItem">鞋包配件</button>
          </mat-menu>
        </li>
      </ul>
      <ul class="leftUrl">
        <li class="flex items-center customLink">熱銷商品</li>
      </ul>
      <ul class="leftUrl">
        <li class="flex items-center customLink">運動系列</li>
      </ul>
      <ul class="leftUrl">
        <li class="flex items-center customLink">居家系列</li>
      </ul>
      <ul class="leftUrl">
        <li class="flex items-center customLink">Catwalk</li>
      </ul>
      <ul class="rightUl rightUl-lg">
        <li class="flex items-center search">
          <input type="text" class="search-input" />
          <button (click)="search()">
            <i class="text-blueGray-400 fa fa-search text-lg leading-lg customLink" style="font-size: 1.5rem"></i>
          </button>
        </li>
        <li class="flex items-center">
          <button>
            <i class="text-blueGray-400 fa fa-shopping-bag text-lg leading-lg customLink" style="font-size: 1.5rem"></i>
          </button>
          <button class="lg:hidden inline-block ml-2">購物清單</button>
        </li>
        <li class="flex items-center" *ngIf="! isLogin" (click)="logIn()">
          <button>
            <i class="text-blueGray-400 fa fa-user text-lg leading-lg customLink" style="font-size: 1.5rem"></i>
          </button>
          <button class="lg:hidden inline-block ml-2">登入會員</button>
        </li>
        <li class="flex items-center" *ngIf="isLogin" mat-button [matMenuTriggerFor]="menu">
          <button>
            <i class="text-blueGray-400 fa fa-user text-lg leading-lg customLink" style="font-size: 1.5rem"></i>
          </button>
          <button class="lg:hidden inline-block ml-2"> {{logInData.account}}</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item class="menuItem">會員管理</button>
            <hr>
            <button mat-menu-item class="menuItem">訂單管理</button>
            <hr>
            <button mat-menu-item class="menuItem" (click)="logOut()">登出</button>
          </mat-menu>
        </li>
        <li class="flex items-center">
          <button>
            <i class="text-blueGray-400 fa fa-heart text-lg leading-lg customLink" style="font-size: 1.5rem"></i>
          </button>
          <button class="lg:hidden inline-block ml-2">願望清單</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
