
.customLink {
  &:hover {
    color: #000000;
  }
  @media (min-width: 1024px) {
    width: 110px;
    font-size: 1.1rem;
  }
  @media (min-width: 1310px) {
    width: 160px;
    font-size: 1.1rem;
  }
  color: #000000;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
  justify-content: center;
}
.engTitle{
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
}

.navbar {
  top: 0;
  position: fixed;
  z-index: 50;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.logo{
  max-width: 230px;
  margin-right: 40px;
  @media (max-width: 452px) {
    width: 180px;
  }
  @media (max-width: 420px) {
    width: 150px;
  }
  @media (max-width: 387px) {
    width: 120px;
  }
  @media (max-width: 358px) {
    width: 100px;
  }
  @media (max-width: 340px) {
    width: 70px;
  }
  @media (min-width: 1024px) {
    width: 160px;
    margin-right: 0px;
  }
  @media (min-width: 1310px) {
    width: 230px;
    margin-right: 40px;
  }
}

.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;


  @media (min-width: 1024px) {
    width: auto;
    position: static;
    display: block;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.btnWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  right: 0px;
  top: 8px;
  justify-content: flex-end;
}

.homelink {
  color: #374151;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  display: inline-block;
  margin-right: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  white-space: nowrap;
  text-transform: uppercase;
}

.leftUl {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .leftUl {
    flex-direction: row;
  }
}

.rightUl {
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media (min-width: 992px) {
  .rightUl {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
}

.navbar-toggle {
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: transparent;
  display: block;
  outline: none;

  @media (min-width: 1024px) {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

.file-icon {
  color: #7a7c7e;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-right: 0.5rem;
}

.search-input {
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 16px;
  padding: 8px;
  width: 120px;
  box-sizing: border-box;
}

.search-input:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

button:focus {
  outline: none;
}

.menuItem {
  padding-left: 10px;
  font-size: 1.0rem;
}

.cart-icon {
  position: relative;
  display: inline-block;
}
.cartCount{
  position: absolute;
  top: 12px;
  color: #000;
  right: 133px;
  width: 15px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
}
.cart-count {
  position: absolute;
  top: 8px;
  color: #000;
  right: 27px;
  width: 15px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
}

.wish-count {
  position: absolute;
  top: 6.5px;
  width: 20px;
  right: 18px;
  color: black;
  font-size: 17px;
  font-weight: 500;
}

.liIcon {
  padding-bottom: 15px;
}
.iconHidden {
  @media (max-width: 1024px) {
    display: none;
  }
}
