<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="wrapper">
      <a class="homelink" href="#pablo">
        <img src="assets/img/JOLBoutique-logo.png" style="width: 150px" />
      </a>
      <button class="navbar-toggle" type="button" (click)="setNavbarOpen()">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="lg:flex flex-grow items-center" [ngClass]="{ hidden: !navbarOpen, block: navbarOpen }"
      id="example-navbar-warning">
      <ul class="leftUrl">
        <li class="flex items-center customLink">
          所有商品
          <!-- <button mat-button [matMenuTriggerFor]="menu">所有商品</button>
          <mat-menu #menu="matMenu"  xPosition="after" yPosition="below">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu> -->
        </li>
        <!-- <li class="flex items-center customLink">
        <mat-menu #menu="matMenu"  xPosition="after" yPosition="below">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </li> -->
      </ul>
      <ul class="leftUrl">
        <!-- <li class="flex items-center customLink"> 最新商品</li> -->
        <li class="flex items-center customLink">
          <app-dropdown class="block" [title]="title"></app-dropdown>
        </li>
      </ul>
      <ul class="leftUrl">
        <!-- <li class="flex items-center customLink"> 熱銷商品</li> -->
        <li class="flex items-center customLink">
          <app-dropdown class="block" [title]="title"></app-dropdown>
        </li>
      </ul>
      <ul class="leftUrl">
        <li class="flex items-center customLink"> 居家系列</li>
      </ul>
      <ul class="leftUrl">
        <li class="flex items-center customLink"> Catwalk</li>
      </ul>
      <ul class="rightUl rightUl-lg">
        <li class="flex items-center customLink">願望清單</li>
        <li class="flex items-center customLink">
          <app-dropdown class="block"></app-dropdown>
        </li>
        <li class="flex items-center customLink">
          <input type="text" class="lg:hidden inline-block ml-2 search-input ">
          <i class="text-blueGray-400 fa fa-search text-lg leading-lg "></i>
        </li>
        <li class="flex items-center">
          <i class="text-blueGray-400 fa fa-shopping-bag text-lg leading-lg customLink"></i>
          <span class="lg:hidden inline-block ml-2">購物清單</span>
        </li>
        <li class="flex items-center customLink" (click)="logOut()">登出</li>
        <li class="flex items-center" (click)="logIn()">
          <i class="text-blueGray-400 fa fa-user text-lg leading-lg customLink"></i>
          <span class="lg:hidden inline-block ml-2">jenny83318</span>
      </ul>
    </div>
  </div>
</nav>
