
  *{
    font-family: 'Montserrat', sans-serif;
  }
  .card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 25px rgba(50, 50, 93, 0.1), 0 7px 15px rgba(0, 0, 0, 0.07);
    transition: all 0.15s ease-in-out;
    button{
      outline: none;
    }
    // &:hover {
    //   transform: translateY(-0.85rem);
    // }
  }
  .img {
    align-self: center;
    border: none;
    max-width: 100%;
    height: auto;
  }
  .heading {
    font-size: 1rem;
    font-weight: 500;
    height: 30px;
    padding-top: 0.4rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    @media (max-width: 460px) {
      font-size: 0.9rem;
    }
  }

  .price{
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 5px;
  }