@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);
$fontSans: "Montserrat", sans-serif;
$fontSerif: "Montserrat", sans-serif;

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

* {
  box-sizing: border-box;
}

body {
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.wrap {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 5% 0;
  margin-bottom: 5em;
  margin-top: 60px;
}

// CART HEADER
.heading {
  padding: 0.7em 0;
  border-bottom: 1px solid #d0d0d0;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #e3eee7;

  h1 {
    font-family: $fontSerif;
    font-size: 2em;
    float: left;
  }

  P {
    margin: 5px 0 5px;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
  }
  button.continue {
    font-weight: bolder;
  font-size: 20px;
  padding-left: 15px;
  font-family: 'Montserrat', sans-serif;
    &:link,
    &:visited {
      text-decoration: none;
      letter-spacing: -0.015em;
      font-size: 0.75em;
      padding: 1em;
      color: #fff;
      font-weight: bold;
      border-radius: 50px;
      float: right;
      text-align: right;
      @include transition(all, 0.25s, linear);
    }

    &:after {
      content: "\276f";
      padding: 0.5em;
      position: relative;
      right: 0;
      @include transition(all, 0.15s, linear);
    }

    &:hover,
    &:focus,
    &:active {
      &:after {
        right: -10px;
      }
    }
  }
}
.btn {
  &:link,
  &:visited {
    text-decoration: none;
    font-family: $fontSans;
    letter-spacing: -0.015em;
    font-size: 1em;
    padding: 1em 3em;
    color: #fff;
    background: #82ca9c;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
    @include transition(all, 0.25s, linear);
  }

  &:after {
    content: "\276f";
    padding: 0.5em;
    position: relative;
    right: 0;
    @include transition(all, 0.15s, linear);
  }

  &:hover,
  &:focus,
  &:active {
    background: #f69679;

    &:after {
      right: -10px;
    }
  }

  .promoCode & {
    font-size: 0.85em;
  }
}
// TABLE HEADING

.tableHead {
  display: table;
  width: 100%;
  font-family: $fontSans;
  font-size: 0.75em;

  li {
    display: table-cell;
    padding: 1em 0;
    text-align: center;

    &.prodHeader {
      text-align: left;
    }
  }
}

// CART Items

.cart {
  padding: 1em 0;

  .items {
    display: block;
    width: 100%;
    padding: 1.5em;

    border-bottom: 1px solid #fafafa;

    &.even {
      background: #fafafa;
    }

    .infoWrap {
      display: table;
      width: 100%;
    }

    .cartSection {
      display: table-cell;

      vertical-align: middle;

      .itemNumber {
        font-size: 0.75em;
        color: #777;
        margin-bottom: 0.5em;
      }

      h3 {
        font-size: 1em;
        font-family: $fontSans;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.025em;
      }

      p {
        display: inline-block;
        font-size: 0.85em;
        margin-right: 20px;

        color: #777777;
        font-family: $fontSans;

        .quantity {
          font-weight: bold;
          color: #333;
        }

        &.stockStatus {
          color: #82ca9c;
          font-weight: bold;
          padding: 0em 0 0 1em;
          text-transform: uppercase;
          font-size: 15px;

          &.out {
            color: #f69679;
          }
        }
      }

      .itemImg {
        width: 4em;

        float: left;
      }

      &.qtyWrap,
      &.prodTotal {
        text-align: right;
        padding-right: 10px;

        p {
          font-weight: bold;
          font-size: 1.25em;
        }
      }

      input.qty {
        width: 2em;
        text-align: center;
        font-size: 1em;
        padding: 0.25em;
        margin: 1em 0.5em 0 0;
      }

      .itemImg {
        width: 9em;
        display: inline;
        padding-right: 1em;
      }
    }
  }
}

.special {
  display: block;
  font-family: $fontSans;

  .specialContent {
    padding: 1em 1em 0;
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid #dadada;

    &:before {
      content: "\21b3";
      font-size: 1.5em;
      margin-right: 1em;
      color: #6f6f6f;
      font-family: 'Montserrat', sans-serif;
    }
  }
}

