<app-header></app-header>
<div class="LoginPageContainer">
  <div class="LoginPageInnerContainer">
    <div class="ImageContianer">
      <img src="assets/img/PCShort.gif" class="GroupImage">
    </div>
    <div class="LoginFormContainer">
      <div class="LoginFormInnerContainer">
        <div class="LogoContainer">
          <img src="assets/img/JOLBoutique-logo.png" class="logo">
        </div>
        <header class="header">登入</header>
        <header class="subHeader">Welcome to <b>animal planet!</b> Please Enter your Details</header>
        <form>
          <div class="inputContainer">
            <label class="label" for="emailAddress">
              <img src="assets/img/JOLBoutique-logo.png" class="labelIcon"><span>帳號*</span>
            </label>
            <input type="email" class="input" id="emailAddress" placeholder="請輸入您的帳號" name="account" [(ngModel)]="account">
          </div>
          <div class="inputContainer">
            <label class="label" for="emailAddress">
              <img src="assets/img/PCShort.gif" class="labelIcon"><span>密碼*</span>
            </label>
            <input type="password" class="input" id="emailAddress" placeholder="請輸入您的密碼" name="password" [(ngModel)]="password">
          </div>
          <div class="OptionsContainer">
            <div class="checkboxContainer">
              <input type="checkbox" id="RememberMe" class="checkbox" (click)="remberMe()" name="isRember" [(ngModel)]="isRember">
              <label for="RememberMe" >記住我</label>
            </div>
            <a href="#" class="ForgotPasswordLink">忘記密碼?</a>
          </div>
          <button class="LoginButton" (click)="logIn()">登入</button>
        </form>
      </div>
    </div>
  </div>
</div>
