<app-header></app-header>
<div class="LoginPageContainer">
  <div class="LoginPageInnerContainer">
    <div class="ImageContianer">
      <img src="assets/img/123.jpg" class="GroupImage">
    </div>
    <div class="LoginFormContainer" *ngIf="! isSignUp">
      <div class="LoginFormInnerContainer">
        <h5 class="header">登入</h5>
        <form class="example-form">
          <div class="inputContainer">
            <mat-form-field class="example-full-width">
              <mat-label class="label" style="font-size: 15px;"><img src="assets/img/PCShort.gif" class="labelIcon">帳號*</mat-label>
              <input matInput class="input" placeholder="請輸入您的帳號" name="account" [(ngModel)]="loginData.account" (change)="checkLoginData()">
            </mat-form-field>
            <div *ngIf="isLoginAcc" class="errorMag">帳號不可為空</div>
          </div>
          <div class="inputContainer">
            <mat-form-field class="example-full-width">
              <mat-label class="label"><img src="assets/img/PCShort.gif" class="labelIcon">密碼*</mat-label>
              <input type="password" matInput class="input" placeholder="請輸入您的帳號" name="password" [(ngModel)]="loginData.password" (change)="checkLoginData()">
            </mat-form-field>
            <div *ngIf="isLoginPW" class="errorMag">密碼不可為空</div>
          </div>
          <div class="OptionsContainer">
            <div class="checkboxContainer">
              <input type="checkbox" id="RememberMe" class="checkbox" (click)="remberMe()" name="isRember"  [(ngModel)]="isRember">
              <label for="RememberMe">記住我</label>
            </div>
            <a href="#" class="ForgotPasswordLink">忘記密碼?</a>
          </div>
          <div *ngIf="isLoginError" class="errorMag" style="padding-top:40px ;">{{loginMsg}}</div>
          <button class="LoginButton" (click)="logIn()">登入</button>
          <button class="SignUpButton" (click)="showSignUp()">註冊會員</button>
        </form>
      </div>
    </div>

    <div class="LoginFormContainer" *ngIf="isSignUp">
      <div class="LoginFormInnerContainer signUpContainer">
        <h5 class="header">註冊</h5>
        <form class="example-form">
          <div class="inputContainer">
            <mat-form-field class="example-full-width">
              <mat-label class="label"><img src="assets/img/PCShort.gif" class="labelIcon">姓名*</mat-label>
              <input matInput class="input" placeholder="請輸入您的姓名" name="userName" [(ngModel)]="signUpData.userName" (change)="checkSignData()">
            </mat-form-field>
            <div *ngIf="isAccount" class="errorMag">姓名不可為空</div>
          </div>
          <div class="inputContainer">
            <mat-form-field class="example-full-width">
              <mat-label class="label"><img src="assets/img/PCShort.gif" class="labelIcon">帳號*</mat-label>
              <input matInput class="input" placeholder="請輸入您的帳號" name="account" [(ngModel)]="signUpData.account" (change)="checkSignData()">
            </mat-form-field>
            <div *ngIf="isAccount" class="errorMag">帳號不可為空</div>
          </div>
          <div class="inputContainer">
            <mat-form-field class="example-full-width">
              <mat-label class="label"><img src="assets/img/PCShort.gif" class="labelIcon">密碼*</mat-label>
              <input type="password" matInput class="input" placeholder="請輸入您的密碼" name="password" [(ngModel)]="signUpData.password" (change)="checkSignData()">
            </mat-form-field>
            <div *ngIf="isPassword" class="errorMag">密碼不可為空</div>
          </div>
          <div class="inputContainer">
            <mat-form-field class="example-full-width">
              <mat-label class="label"><img src="assets/img/PCShort.gif" class="labelIcon">再次輸入密碼*</mat-label>
              <input type="password" matInput class="input" placeholder="請再次輸入您的密碼" name="repassword" [(ngModel)]="signUpData.repassword" (change)="checkSignData()">
            </mat-form-field>
            <div *ngIf="isRepassword && signUpData.repassword ==''" class="errorMag">再次輸入密碼不可為空</div>
            <div *ngIf="isRepassword && signUpData.repassword != signUpData.password" class="errorMag">兩次密碼輸入不同，請重新輸入</div>
          </div>
          <div class="inputContainer">
            <mat-form-field class="example-full-width">
              <mat-label class="label"><img src="assets/img/PCShort.gif" class="labelIcon">手機</mat-label>
              <input matInput class="input" placeholder="請輸入您的手機" name="phone" [(ngModel)]="signUpData.phone" (change)="checkSignData()">
            </mat-form-field>
            <div *ngIf="isPhone" class="errorMag">手機不可為空</div>
          </div>
          <div class="inputContainer">
            <mat-form-field class="example-full-width">
              <mat-label class="label"><img src="assets/img/PCShort.gif" class="labelIcon">Email*</mat-label>
              <input class="input" type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="請輸入email" name="name" [(ngModel)]="signUpData.email">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                請輸入正確的email
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                email不可為空
              </mat-error>
            </mat-form-field>
          </div>
          <div class="inputContainer">
            <mat-form-field class="formContext">
              <mat-label>縣市</mat-label>
              <mat-select [(ngModel)]="signUpData.city" name="city" (selectionChange)="changeCity()">
                <mat-option *ngFor="let a of addressList" [value]="a.code"> {{a.name}} </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="formContext">
              <mat-label>地區</mat-label>
              <mat-select name="district" [(ngModel)]="signUpData.district" (selectionChange)="checkSignData()">
                <mat-option *ngFor="let d of districtList" [value]="d.code"> {{d.code}} {{d.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="isCity" class="errorMag">請選擇縣市</div>
            <div *ngIf="isDistrict" class="errorMag">請選擇地區</div>
        </div>
          <div class="inputContainer">
            <mat-form-field class="example-full-width">
              <mat-label class="label"><img src="assets/img/PCShort.gif" class="labelIcon">地址</mat-label>
              <input matInput class="input" placeholder="請輸入您的寄送地址" name="name" [(ngModel)]="signUpData.address" (change)="checkSignData()">
            </mat-form-field>
            <div *ngIf="isAddress" class="errorMag">地址不可為空</div>
          </div>
          <button class="LoginButton" (click)="signUp()">註冊</button>
          <button class="SignUpButton" (click)="showSignUp()">登入會員</button>
        </form>
      </div>
    </div>
  </div>
</div>
