@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);
$fontSans : 'Montserrat',
sans-serif;
$fontSerif : 'Montserrat',
serif;

.qtyWrapper {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    @media (min-width: 446px) {
      margin-left: 90px;
    }
    @media (min-width: 369px) {
      margin-left: 75px;
    }
  }
  
  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      width: 300px;
    }
  }
  
  .container {
    height: 28px;
    display: flex;
    border: 1px solid gray;
    width: 100px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: -5px 30px 5px -13px;
  
  }
  
  .paragraph {
    font-size: 15px;
  }
  
  .icon {
    font-size: 9px;
    color: #8e8e8e;
  }
  
  .countBtn {
    padding: 5px;
  }
  
  button:focus {
    outline: none;
  }
  
  .remove{
    border: 1px solid black;
    padding: 5px;
  }

  .promoCode {
    border: 2px solid #efefef;
    float: left;
    padding: 2%;
    @media (min-width: 39.375em) {
      width: 250px;
    }
    
  
    label {
      display: block;
      width: 100%;
      font-style: italic;
      font-size: 1.15em;
  
      margin-bottom: .5em;
      letter-spacing: -.025em;
  
    }
  
    input {
      width: 85%;
      font-size: 1em;
      padding: .5em;
      float: left;
      border: 1px solid #dadada;
  
      &:active,
      &:focus {
        outline: 0;
  
      }
    }
  
    button.btn {
      float: left;
      width: 15%;
      padding: .75em 0;
      border-radius: 0 1em 1em 0;
      text-align: center;
      border: 1px solid #82ca9c;
  
      &:hover {
        border: 1px solid #f69679;
        background: #f69679;
      }
    }
  }

  @media only screen and (max-width:39.375em) {

    .wrap {
      width: 98%;
      padding: 2% 0;
    }
  
    .heading {
      padding: 1em;
      font-size: 90%;
    }
  
    .cart {
      .items {
  
        .cartSection {
          width: 90%;
          display: block;
          float: left;
  
          &.qtyWrap {
            width: 10%;
            text-align: center;
            padding: .5em 0;
            float: right;
  
            &:before {
              content: "QTY";
              display: block;
              font-family: $fontSans;
              padding: .25em;
              font-size: 1em;
            }
          }
  
          &.prodTotal,
          &.removeWrap {
            display: unset;
          }
  
          .itemImg {
            width: 25%;
          }
        }
      }
    }
  
    .promoCode,
    .subtotal {
      width: 100%;
    }
  
    button.btn.continue {
      width: 100%;
      text-align: center;
    }
  }
  
  