<section class="popCon">
  <div class="popBox">
    <img src="/assets/img/JOLBoutique-logo.png" class="logo">
    <ul>
      <li>
        <p>{{data.msg}}</p>
      </li>
    </ul>
      <div class="BtnBox"  *ngIf="! isConfirm">
        <button mat-button class="" (click)="close()" >確認</button>
      </div>
    <div class="BtnBoxHalf" *ngIf="isConfirm">
      <button mat-button class="" (click)="cancel()" style="margin-right: 15px;" >取消</button>
      <button mat-button class="" (click)="confirm()" >確定</button>
    </div>
  </div>
</section>
