@import '~@fortawesome/fontawesome-free/css/solid.min.css'; 
@import '~@fortawesome/fontawesome-free/css/regular.min.css'; 

* {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;

}

body {
  overflow: hidden;
}

.LoginPageContainer {
  height: 100vh;
  overflow: auto;
}

.LoginPageInnerContainer {
  display: flex;
  min-height: 100%;
}

.LoginPageInnerContainer .ImageContianer {
  width: 50%;
  background-color: #ffffff;
  display: flex;
  display: flex;
  flex-direction: column;
  margin-top: 81px;
}

.LoginPageInnerContainer .ImageContianer .GroupImage {
  width: 100%;
  display: block;
}

.img{
  width: 100%;
}

.LoginPageInnerContainer .LoginFormContainer {
  flex-grow: 2;
  background-color: white;
  min-height: 100%;
  padding-left: 2%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.signUpContainer {
  margin-top: 80px;
}

.LoginPageInnerContainer .LoginFormContainer .LogoContainer .logo {
  height: 60px;
  margin-bottom: 30px;
}

.LoginPageInnerContainer .LoginFormContainer .header {
  padding-right: 3%;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.LoginPageInnerContainer .LoginFormContainer .subHeader {
  color: #e798dd;
  margin-top: 5px;
  margin-bottom: 20px;
}

.LoginPageInnerContainer .LoginFormContainer .inputContainer {
  color: #000000;
  margin: 20px 0px;
}

.LoginPageInnerContainer .LoginFormContainer .inputContainer .label {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: 7px;
  margin-bottom: 10px;
}

.LoginPageInnerContainer .LoginFormContainer .inputContainer .label .labelIcon {
  width: 20px;
  font-size: 15px;
  margin-right: 10px;
  display: block;
}

.LoginPageInnerContainer .LoginFormContainer .inputContainer .input {
  display: block;
  width: calc(100% - 20px);
  font-size: 15px;
  padding: 10px;
  border: none;
  margin-top: 5px;
  outline: 0px !important;
}

.LoginPageInnerContainer .LoginFormContainer .OptionsContainer {
  display: flex;
  justify-content: space-between;
}

.LoginFormContainer {
  display: flex;
  margin-top: 81px;
}

.LoginFormInnerContainer {
  // max-width: 800px;
  width: 100%;
  margin-top: -13px;
}



