@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';
* {
  margin: 0px;
  font-family: Rubik;

}
body{
  overflow: hidden;
}

.LoginPageContainer {
  height: 100vh;
  overflow: auto;
}

.LoginPageInnerContainer {
  display: flex;
  min-height: 100%;
}

.LoginPageInnerContainer .ImageContianer {
  width: 50%;
  background-color:#ffffff;
  // min-height: 100%;
  // padding: 5%;
  display: flex;
  display: flex;
  flex-direction: column;
  margin-top: 81px;
  // justify-content: center;
  // align-items: center;
}

.LoginPageInnerContainer .ImageContianer .GroupImage {
  width: 100%;
  display: block;
}

.LoginPageInnerContainer .LoginFormContainer {
  flex-grow: 2;
  background-color: white;
  min-height: 100%;
  padding-left: 2%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.signUpContainer{
  margin-top: 80px;
}

.LoginPageInnerContainer .LoginFormContainer .LogoContainer .logo {
  height: 60px;
  margin-bottom: 30px;
}

.LoginPageInnerContainer .LoginFormContainer .header {
  padding-right: 3%;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.LoginPageInnerContainer .LoginFormContainer .subHeader {
  color: #e798dd;
  margin-top: 5px;
  margin-bottom: 40px;
}

.LoginPageInnerContainer .LoginFormContainer .inputContainer {
  color: #000000;
  margin: 20px 0px;
}

.LoginPageInnerContainer .LoginFormContainer .inputContainer .label {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: 7px;
  margin-bottom: 10px;
}

.LoginPageInnerContainer .LoginFormContainer .inputContainer .label .labelIcon {
  width: 20px;
  font-size: 15px;
  margin-right: 10px;
  display: block;
}

.LoginPageInnerContainer .LoginFormContainer .inputContainer .input {
  display: block;
  width: calc(100% - 20px);
  font-size: 15px;
  padding: 10px;
  border: none;
  margin-top: 5px;
  outline: 0px !important;
}

.LoginPageInnerContainer .LoginFormContainer .OptionsContainer {
  display: flex;
  justify-content: space-between;
}

.LoginFormContainer {
  display: flex;
  margin-top: 81px;
}

.LoginFormInnerContainer {
  max-width:800px;
  width: 100%;
}

.LoginPageInnerContainer .LoginFormContainer .checkbox {
  width: 15px;
  height: 15px;
  margin: 0px;
  display: block;
  border: 1px solid #000000;
}

.LoginPageInnerContainer .LoginFormContainer .checkboxContainer label {
  display: block;
  padding: 0px 5px;
  color: #000000;
}

.LoginPageInnerContainer .LoginFormContainer .ForgotPasswordLink {
  color: #e7483b;
  text-decoration: none;
}


.LoginFormContainer .upImage{
  display: none;
}
@media only screen and (min-width: 1200px) {
  .LoginPageInnerContainer .LoginFormContainer {

    padding-right: 10%;
    padding-top: 60px;
  }
  .outerWrapper{
    width: 40%;
    margin-top: -20px;
    margin-left: 40px;
    position: absolute;
  }
}
@media only screen and (max-width: 1200px) {
  .LoginPageInnerContainer .LoginFormContainer {
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 5%;
  }
  .LoginPageInnerContainer .ImageContianer {
      width: 50%;
  }
  .outerWrapper{
    width: 40%;
    margin-top: -20px;
    margin-left: 40px;
    position: absolute;
  }
}

@media only screen and (max-width: 935px) {
  .LoginPageInnerContainer .ImageContianer {
      display: none;
  }
  .LoginPageInnerContainer .LoginFormContainer {
    padding-right: 0;
    padding-top: 0;
    justify-content: center;
    padding: 0;
  }
  .LoginFormContainer .upImage{
    display: unset;
  }
  .outerWrapper{
    position: relative;
    margin-left: 20px;
    width: 80%;
    margin-top: 30px;
  }
}
.LoginPageContainer::-webkit-scrollbar {
  width: 5px;
}

.LoginPageContainer::-webkit-scrollbar-track {
  background: #ffffff;
}

.LoginPageContainer::-webkit-scrollbar-thumb {
  background: #2e1f7a;
}

.LoginPageContainer::-webkit-scrollbar-thumb:hover {
  background: #4520ff;
}

input:focus{
  outline: none;
}

.example-form {
  min-width: 150px;
  max-width: 800px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
input:focus {
 outline: none;
 border:none;
}

.label{
  font-size: 15px;
}

.price{
  font-size: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #a75500;
    font-weight: 300;
}

.size{
  font-size: 24px;
  padding: 10px;
  font-family: Rubik;
}

li.selected {
  border: 1px solid black;
  background-color: #ffd95e38;
}

.sizeWrapper{
  width: 70px;
  display: -webkit-inline-box;
  margin-bottom: 30px;
  font-family: Rubik;
}

.btnWrapper{
  width: 48%;
  display: -webkit-inline-box;
  text-align: center;
  margin-right: 2%;
  padding: 0.4rem;
  margin-bottom: 40px;
  border: 1px solid gray;
  font-family: Rubik;
}
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	display: flex;
	border: 1px solid gray;
  background: #ffffff;
  width: 98%;
  padding: 0.1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

h1 {
	margin: 0;
	padding: 0;
	user-select: none;
}

.col-1 {
	width: 45%;
}

.col-2 {
	width: 25%;
}

.col > button, .number {
	width: 100%;
	background: #ffffff;
	border: 0px;
	text-align: center;
}

.btn {
	font-family: sans-serif;
	font-size: 2em;
}
.minusbtn{
  font-size: 3em;
}

button {
	color: #000000;
	user-select: none;
	outline: none;
}

.tabContent{
  width: 100%;
}
.cart{
  background-color: #ee9746;
  border: 1px solid #ee9746 ;
}
.wishBtn{
  color: #000000;
    margin-left: 90%;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
    font-size: 30px;
    margin-bottom: 20px;
}