<block-ui [template]="block"></block-ui>
<app-header></app-header>
<div class="LoginPageContainer">
  <div class="LoginPageInnerContainer">
    <div class="ImageContianer">
      <img
        class="img"
        [src]="this.prod.img[0]"
        onerror="this.onerror=null; this.src='/assets/img/noImg.png'"
      />
      <img
        class="img"
        [src]="this.prod.img[1]"
        onerror="this.onerror=null; this.src='/assets/img/noImg.png'"
      />
    </div>
    <div class="LoginFormContainer">
      <div class="LoginFormInnerContainer">
        <div class="upImage">
          <img
            class="img"
            [src]="this.prod.img[0]"
            onerror="this.onerror=null; this.src='/assets/img/noImg.png'"
          />
        </div>
        <div class="outerWrapper">
        <div (click)="addCart(false)"><button class="wishBtn"> <i class="fa fa-heart"></i></button></div>
          <ul class="header">
            <li>{{ prod.name }}</li>
            <li>NT${{ prod.price }}</li>
          </ul>

          <ul class="sizeWrapper" *ngFor="let s of sizeList">
            <li
              class="size"
              (click)="chooseSize(s)"
              [class.selected]="size === s"
            >
              <button>{{ s }}</button>
            </li>
           
          </ul>
          <ul class="sizeWrapper">
          <!-- <li><button class="wishBtn"> <i class="fa fa-heart"></i></button></li> -->
        </ul>
          <div class="center container">
            <div class="button col col-1">
              <button
                id="minus-btn"
                class="minusbtn"
                (click)="changeQty(false)"
              >
                -
              </button>
            </div>
            <div class="number col col-2">
              <h1 id="count">{{ qty }}</h1>
            </div>
            <div class="button col col-1">
              <button id="plus-btn" class="btn" (click)="changeQty(true)">
                +
              </button>
            </div>
          </div>
          <div>
            <div class="btnWrapper">
              <button style="width: 100%">立即結帳</button>
            </div>
            <div class="btnWrapper cart" (click)="addCart(true)">
              <button style="width: 100%">加入購物車</button>
            </div>
          </div>
          <div>
            <mat-tab-group
              animationDuration="0ms"
              (selectedTabChange)="tabChanged($event)"
            >
              <mat-tab label="商品資訊">
                <div class="tabContent">
                  <p>
                    <br />
                    <br />
                    此款版型合身*基於衛生考量無提供退貨服務<br />
                    MIT台灣製造/柔滑舒適涼感牛奶絲/ 上薄下厚一片式胸墊
                    胸墊可拆/彈性美感細肩帶/ 肩帶不可調<br /><br />
                    *實品顏色依單品照為主<br />
                    尼龍 84% 彈性纖維 16%<br />
                    厚薄:適中<br />
                    彈性:佳<br />
                    素材產地 / 台灣<br />
                    加工產地 / 台灣<br />
                  </p>
                </div>
              </mat-tab>
              <mat-tab label="洗滌資訊">
                <div class="tabContent">
                  <p>
                    <br />
                    <br />
                    1.深淺色請分開洗滌，以避免造成互相移染。<br />
                    2.請採低溫手洗，以保持商品型態。<br />
                    3.洗滌時，水溫請低於30℃，勿大力搓揉；請使用中性洗劑；請勿浸泡。<br />
                    4.請勿使用漂白劑、螢光增白劑及衣物柔軟劑，以免破壞布料。<br />
                    5.清洗後請快速調整商品型態並平放陰乾即可，不可擰扭，勿直接曝曬於陽光下<br />
                    6.此類商品不可熨燙。
                  </p>
                </div>
              </mat-tab>
              <mat-tab label="尺寸指南" >
                <div class="tabContent">
                  <img style="width: 670px" src="/assets/img/size.png" />
                </div>
              </mat-tab>
              <mat-tab label="" [disabled]="true"> </mat-tab>
            </mat-tab-group>
          </div>
        </div>
        <div class="upImage">
          <img
            class="img"
            [src]="this.prod.img[1]"
            onerror="this.onerror=null; this.src='/assets/img/noImg.png'"
          />
        </div>
      </div>
    </div>
  </div>
</div>