<block-ui [template]="block"></block-ui>
<app-header></app-header>
<div class="LoginPageContainer">
  <div class="LoginPageInnerContainer">
    <div class="ImageContianer">
      <img src="assets/img/123.jpg" class="GroupImage">
    </div>
    <div class="LoginFormContainer">
      <div class="LoginFormInnerContainer">
        <div class="upImage">
          <img src="assets/img/123.jpg" class="GroupImage">
        </div>
        <div>
          <h5 class="header">{{prod.name}}</h5>
          <header class="subHeader">Welcome to <b>animal planet!</b> Please Enter your Details</header>
          <div class="plusMinus">
            <button mat-button class="minus"><i class="fa fa-minus"></i></button>
            <input type="number" inputmode="numeric">
            <button mat-button class="plus"><i class="fa fa-plus"></i></button>
          </div>
          <header class="subHeader">Welcome to <b>animal planet!</b> Please Enter your Details</header>
          <div class="upImage">
            <img src="assets/img/123.jpg" class="GroupImage">
            <img src="assets/img/123.jpg" class="GroupImage">
            <img src="assets/img/123.jpg" class="GroupImage">
          </div>
        </div>

      </div>
    </div>
  </div>
