.popBox{
  position: relative;
  overflow: inherit;
  padding: 0px;
  ul{
    padding: 24px 20px 16px ;
    li{
      margin-bottom: 12px;
    }
  }
  p{
    margin-left: 6px;
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
    color: #703c08;
    font-weight: bolder;
  }

  .BtnBox{
    justify-content: center;
    padding: 2px 20px 20px;
    padding-top: 30px;

    button{
      border: 1px solid black;
      font-size: 20px;
      border: 1px, solid;
      color: #000;
      margin-bottom: 4px;
      line-height: 25px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 100%;
    }
    .half{
      width: 50%;
    }
    button:focus{
      outline: none;
    }
  }

  .BtnBoxHalf{
    justify-content: center;
    padding: 2px 0px 10px;
    padding-top: 10px;

    button{
      border: 1px solid black;
      font-size: 20px;
      border: 1px, solid;
      color: #000;
      margin-bottom: 4px;
      line-height: 25px;
      left: 50%;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-right: 5px;
      width: 46%;
    }
    button:focus{
      outline: none;
    }
  }

}

.logo{
  padding-top: 20px;
  width: 120px;
  padding-bottom: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stripe
{
  outline: none;
  border-radius: 10px;
  border: 0.5px solid grey;
  img{ 
    border-radius: 7px;
  }
  img:hover{
    opacity: 0.5;
  }
}
