@import url("./../../assets/styles/tailwind.css");
.title {
  &:hover {
    color: #718096;
  }
  color: #4a5568;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
}
/**下拉選單*/
.popover {
    background-color: white;
    text-base: base;
    z-index: 50;
    float: left;
    padding-top: 2px;
    list-style: none;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
    min-width: 48px;
  }

  .layout {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 0.875rem;
    color: #64748b;
    background-color: transparent;
    white-space: nowrap;
  }

  .item {
    font-size: 0.875rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 400;
    display: block;
    width: 100%;
    white-space: nowrap;
    background-color: transparent;
    color: #5a5e6b;
  }

  .divider {
    height: 0;
    margin: 0 4px 2px 4px;
    border: 1px solid #cbd5e0; /* 也可以使用 $border-color 變數 */
  }
