.header {
  position: relative;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  max-height: 5500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.section {
  margin-top: -9rem;
}

.title{
  margin-top: 7.5rem;
  margin-bottom: 1rem;
  margin-left: 45px;
  font-size: 18px;
  display: flex;
  position: relative;
  z-index: 20;
  button{
    padding-right: 30px;
    outline: none;
  }
}

.tiltleFocus{
    font-weight: bolder;
    text-decoration: underline;
}

.imgWrapper {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  height: auto;
  margin-top: auto;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  img {
    width: 300px;
  }
}


@media (min-width: 210px) {
  .imgDiv {
    margin-top: 89%;
  }
}
@media (min-width: 380px) {
  .imgDiv {
    margin-top: 78%;
  }
}
@media (min-width: 540px) {
  .imgDiv {
    margin-top: 72%;
  }
  .imgWrapper {
    width: 50%;
  }
}
@media (min-width: 740px) {
  .imgDiv {
    margin-top: 68%;
  }
  .imgWrapper {
    width: 50%;
  }
}
@media (min-width: 960px) {
  .imgDiv {
    margin-top: 70%;
  }
  .imgWrapper {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .imgWrapper {
    width: 25%;
  }
  .imgDiv {
    margin-top: 66%;
  }
}
.imgDiv {
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
  height: auto;
  display: flex;
  justify-content: space-between;
}
