<block-ui [template]="block"></block-ui>
<app-header></app-header>
<div>ProductList</div>
<section class="header">
  <section class="section">
      <div class="flex flex-wrap" style="margin-top:85px">
        <div class="imgWrapper" [ngClass]="prodList.length == 3 ? 'imgWrapper3' : prodList.length == 2 ? 'imgWrapper2' : prodList.length == 1 ? 'imgWrapper1':''" *ngFor="let prod of prodList">
          <app-card [prod]="prod" (messageEvent)="loadImageFinish($event)"></app-card>
        </div>
        <div class="imgContainer" *ngIf="prodList.length == 0">
          <img src="assets/img/cart.png">
          <h5 style="font-size: 15px;">查無任何商品</h5>
        </div>
      </div>
  </section>
</section>
<app-footer></app-footer>
