<section class="popCon">
  <div class="popBox">
    尺寸:
    <ul class="sizeWrapper" *ngFor="let s of sizeList">
      <li class="sizeli" (click)="chooseSize(s)" [class.selected]="size === s">
        <button>{{ s }}</button>
      </li>
    </ul>
    <div class="wrapper">
      數量:
      <div class="center container">
        <div>
          <button id="plus-btn" class="btn" (click)="changeQty(false)">
            <i class="fas fa-minus icon"></i>
          </button>
        </div>
        <div>
          <p class="param" id="count" style="margin: 0;">{{qty }}</p>
        </div>
        <div>
          <button id="plus-btn" class="btn" (click)="changeQty(true)">
            <i class="fas fa-plus icon"></i>
          </button>
        </div>
      </div>
    </div>
    <p *ngIf="isShow" style="color:red">請選擇尺寸</p>
    <div class="BtnBox">
      <button mat-button class="" (click)="close()">取消</button>
      <button mat-button class="" (click)="confirm()">確定</button>
    </div>
  </div>
</section>
