<!--  <div *ngFor="let c of custList">
<p>帳號: {{c.account}}</p>
<p>姓名: {{c.name}}</p>
<p>Email: {{c.email}}</p>
<p>手機: {{c.phone}}</p>
<p>地址: {{c.address}}</p>
<p>狀態: {{c.status == 1 ? "正常": "停權"}}</p>
<P>=====================================================================</P>
</div> -->
<app-header></app-header>


<section class="header">
  <img class="banner" src="assets/img/PCShort.gif" alt="..." />
  <!-- <section class="section"> -->
  <!-- <div class="container mx-auto">
    <div class="justify-center flex flex-wrap"> -->
      <div class="imgDiv">
        <div class="flex flex-wrap">
          <div class="imgWrapper">
            <h5 class="heading">Login Page</h5>
            <a [routerLink]="['/login']">
              <div class="card">
                <img alt="..." class="img" [src]="img" />
              </div>
            </a>
          </div>
        <div class="imgWrapper">
          <h5 class="heading">Profile Page</h5>
          <a [routerLink]="['/profile']">
            <div class="card">
              <img alt="..." class="img" src="assets/img/profile.jpg" />
            </div>
          </a>
        </div>
        <div class="imgWrapper">
          <h5 class="heading">Profile Page</h5>
          <a [routerLink]="['/profile']">
            <div class="card">
              <img alt="..." class="img" src="assets/img/profile.jpg" />
            </div>
          </a>
        </div>
        <div class="imgWrapper">
          <h5 class="heading">Landing Page</h5>
          <a [routerLink]="['/landing']">
            <div class="card">
              <img alt="..." class="img" src="assets/img/landing.jpg" />
            </div>
          </a>
        </div>
        <div class="imgWrapper">
          <h5 class="heading">Landing Page</h5>
          <a [routerLink]="['/landing']">
            <div class="card">
              <img alt="..." class="img" src="assets/img/landing.jpg" />
            </div>
          </a>
        </div>
        <div class="imgWrapper">
          <h5 class="heading">Landing Page</h5>
          <a [routerLink]="['/landing']">
            <div class="card">
              <img alt="..." class="img" src="assets/img/landing.jpg" />
            </div>
          </a>
        </div>
        <div class="imgWrapper">
          <h5 class="heading">Landing Page</h5>
          <a [routerLink]="['/landing']">
            <div class="card">
              <img alt="..." class="img" src="assets/img/landing.jpg" />
            </div>
          </a>
        </div>
        <div class="imgWrapper">
          <h5 class="heading">Landing Page</h5>
          <a [routerLink]="['/landing']">
            <div class="card">
              <img alt="..." class="img" src="assets/img/landing.jpg" />
            </div>
          </a>
        </div>
        <div class="imgWrapper">
          <h5 class="heading">Landing Page</h5>
          <a [routerLink]="['/landing']">
            <div class="card">
              <img alt="..." class="img" src="assets/img/landing.jpg" />
            </div>
          </a>
        </div>
        <div class="imgWrapper">
          <h5 class="heading">Landing Page</h5>
          <a [routerLink]="['/landing']">
            <div class="card">
              <img alt="..." class="img" src="assets/img/landing.jpg" />
            </div>
          </a>
        </div>
        <div class="imgWrapper">
          <h5 class="heading">Landing Page</h5>
          <a [routerLink]="['/landing']">
            <div class="card">
              <img alt="..." class="img" src="assets/img/landing.jpg" />
            </div>
          </a>
        </div>
        <div class="imgWrapper">
          <h5 class="heading">Landing Page</h5>
          <a [routerLink]="['/landing']">
            <div class="card">
              <img alt="..." class="img" src="assets/img/landing.jpg" />
            </div>
          </a>
        </div>
        <div class="imgWrapper">
          <h5 class="heading">Landing Page</h5>
          <a [routerLink]="['/landing']">
            <div class="card">
              <img alt="..." class="img" src="assets/img/landing.jpg" />
            </div>
          </a>
        </div>
      </div>
    </div>
  <!-- </div>
</div> -->
<!-- </section> -->
  </section>
<app-footer></app-footer>
